#!/bin/bash
set -euxo pipefail

dnf update -y
dnf install -y docker docker-compose-plugin awscli

systemctl enable --now docker
usermod -aG docker ec2-user

mkdir -p /opt/healthapp/current
mkdir -p /opt/healthapp/releases
mkdir -p /opt/healthapp/data/postgres
mkdir -p /opt/healthapp/data/redis
mkdir -p /opt/healthapp/data/kafka
chown -R ec2-user:ec2-user /opt/healthapp

cat >/etc/profile.d/healthapp.sh <<'EOF'
export AWS_REGION=${aws_region}
export APP_CORS_ALLOWED_ORIGINS=${APP_CORS_ALLOWED_ORIGINS}
EOF
